[submodule "make"]
	path = make
	url = https://github.com/renatocf/make.git
[submodule "external/chaiscript"]
	path = external/chaiscript
	url = https://github.com/ChaiScript/ChaiScript
	ignore = dirty
